body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 45px;
}

.port {
    color: blue;
    font-weight: 700;
}

.port1 {
    color: red;
    font-weight: 700;
}

.half-width a {
    text-decoration: none;
}

.top-banner {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.second-half-width {
    width: 50%;
    margin-left: 15px;
    margin-top: 30px;
}

.second-half-width-img {
    width: 50%;
}

.half-width img {
    width: 100%;
}

.second-half-width-img img {
    width: 100%;
}

.link-btn1 {
    background-image: linear-gradient(to right, blue, skyblue);
    color: #fff;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 20px;
}

.link-btn2 {
    background-image: linear-gradient(to right, red, #fff);
    color: #fff;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 20px;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.link-btn1:hover {
    background-image: linear-gradient(to left, orange, rgb(179, 112, 24));
}

.link-btn2:hover {
    background-image: linear-gradient(to left, black, white);
}

.btn {
    margin-top: 40px;
    margin-left: -2px;
}

.second-half-width .btn {
    margin-top: 40px;
    margin-left: -2px;
}

.second-half-width a {
    text-decoration: none;
}

.second-half-width h1 {
    margin-left: -5px;
}

.second-banner {
    display: flex;
    margin-top: 100px;
}

.second-banner {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.Experience {
    text-align: center;
    padding-top: 50px;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}

.flexible-container {
    display: flex;
}

.heading {
    text-align: center;
    padding-top: 50px;
}

.one-third {
    width: 23%;
    margin-right: 30px;
    margin-left: 30px;
    padding: 30px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 20px;
}

.one-third h1 {
    font-size: 24px;
}

.one-third p {
    text-align: justify;
}

.one-third-child1 {
    margin-left: 80px;
    border-right: 10px solid #000;
    transition: .5s;
}

.one-third-child2 {
    border-right: 10px solid red;
    transition: .5s;
}

.one-third-child3 {
    border-right: 10px solid blue;
    transition: .5s;
}

.one-third-child1:hover {
    box-shadow: 10px 10px 40px black;
}

.one-third-child2:hover {
    box-shadow: 10px 10px 40px red;
}

.one-third-child3:hover {
    box-shadow: 10px 10px 40px blue;
}